<link href="css/bootstrap.min.css" rel="stylesheet">

<body background="images/beasts (265).jpg">
<form class="form-horizontal" role="form" action="/login" method="post">
	<div style="color:whitesmoke" class="page-header col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
	<h1 ><strong>欢迎使用</strong>
	<small style="color:whitesmoke">请登录</small></h1>
</div>
   <div class="form-group">
      <label  for="firstname" class="col-sm-2 col-xs-2 control-label">账号:</label>
      <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-4">
         <input type="text" class="form-control" id="name" name="name" 
            placeholder="请输入账号">
      </div>
   </div>
   <div class="form-group">
      <label for="lastname" class="col-sm-2 col-xs-2 control-label">密码:</label>
      <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-4">
         <input type="password" class="form-control" id="password"  name="password"
            placeholder="请输入密码">
      </div>
   </div>
   
   <div class="form-group">
      <div class="col-sm-offset-2  col-xs-offset-1 ">
         <button type="submit" class="btn btn-primary col-lg-1 col-md-2 col-sm-3  col-xs-3 col-lg-offset-1">登录</button>
      </div>
   </div>
   <div class="form-group">
   	 <div class="col-sm-offset-2 col-xs-offset-1 ">
		<a href="/make" class="btn btn-link col-lg-1 col-md-2 col-sm-3  col-xs-3 col-lg-offset-1">注册</a>
		</div>
	</div>
</form>

</body>

