<div>
	<form action="/listsuccess" method="post">
	  <div>
	  	<input type="text" placeholder="请输入订单号" name="订单号" id="订单号" />
	  </div>
	  <div>
	  	<input type="text" placeholder="请输入货物名" name="货物名" id="货物名" />
	  </div>
	  <div>
	  	<input type="text" placeholder="请输入货物数量" name="货物数量" id="货物数量" />
	  </div>
	  <div>
	  	<input type="text" placeholder="请输入货物价格" name="货物价格" id="货物价格" />
	  	<div>
	  	<button >创建</button>
	  	
	  	</div>
	  </div>
		
	</form>
	
	
	
</div>