<div>
	<form action="/success" method="post">
	  <div>
	  	<input type="text" placeholder="请输入账号" name="name" id="name" />
	  </div>
	  <div>
	  	<input type="text" placeholder="请输入年龄" name="age" id="age" />
	  </div>
	  <div>
	  	<input type="text" placeholder="请输入身高" name="high" id="high" />
	  </div>
	  <div>
	  	<input type="password" placeholder="请输入密码" name="password" id="password" />
	  	<div>
	  	<button >注册</button>
	  	
	  	</div>
	  </div>
		
	</form>
	
	
	
</div>