<h1>个人设置 <%= req.user.name  %></h1>

<form action="/change" method="post">
	 
	  <div>
	  	<input type="text" placeholder=<%= req.user.age %> name="age" id="age" />
	  </div>
	  
	  	<button >修改</button>
	  	
	  	</div>
	  </div>
		
	</form>
	